In [1]:
#ordinal encoding

In [3]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\covid_toy.csv")

In [12]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [ ]:
df=df.drop.columns('')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
x_train.head()

In [24]:
#from sklearn.preprocessing import OrdinalEncoder

In [25]:
#oe=OrdinalEncoder(categories=['poor','Average','Good'],['School','UG','PG'])

In [26]:
#oe

In [27]:
#oe.fit(x_train)

In [28]:
#x_train=oe.transform(x_train)

In [30]:
#oe.categories