In [1]:
#Association based learning==>
#Association analysis identifiers relationship  between abservation and variable from a datasets.
#these relationship are expressed bt a set of rules that indicates groups of item that tend to be associated with others.
#by using this rule of association we can suggest/predict the interest of user in any mall/market.

In [2]:
import pandas as pd

In [4]:
a={
    "Transaction ID":[1,2,3,4,5],
    "Milk":[1,0,0,1,0],
    "Bread":[1,0,0,1,1],
    "Butter":[0,1,0,1,0],
    "Beer":[0,0,1,0,0],
    "Diapers":[0,0,1,0,0]
    
}

In [5]:
df=pd.DataFrame(a)
df

   Transaction ID  Milk  Bread  Butter  Beer  Diapers
0               1     1      1       0     0        0
1               2     0      0       1     0        0
2               3     0      0       0     1        1
3               4     1      1       1     0        0
4               5     0      1       0     0        0

# Problem statement==>

out of the 2000 transactions , 200 contain jam where 300 contain bread. these 300 transactions include a 100 that includes bread and jam.

using this data,we have to find support,confidence and lift??

# support(|)==> (transaction containing)/transactions

# confidence(|1==>|2)==>

# (transactions containing |1 and |2)/trans

# lift(|1==>|2)==> confidence(|1==>|2)/support(|1)

In [6]:
#(1). support==> 
# support is a default popularity of any item.
#we can calculate the support as a quotient of the division of the  number of transactions contaning that item by the total number of transactions.

#support(jam)=(transactions involving jam)/(total tranasctions)
#=200/2000==>10%

In [7]:
# (2). Confidence ==>

# Confidence is the likelihood that customer bought both bread and jam.
# Dividing the number of transactions that include both bread and jam
# by the total number of transactions will give the confidence.

# Confidence =

# (Transaction involving bread and jam)/(Total Transaction involving jam)

#= 100/200 = 50%

# It implies that 50% of customers who bought jam and bread together.

In [8]:
#Lift==>

#lift is the increase in the ratio of the sale of bread when we sell jam.

#lift==> (confidence (jam=bread))/(support(jam))

#==> 50/10==>5

#it says that the likelihood of a customer buying jam and bread togther
#it 5 times than the chance of purchasing jam alone.
#if the lift value is less than1, it entails that the customer are unlikely to buy both the items together.
#greater the value, the better is the combination.

In [9]:
21/7501

0.0027996267164378083