In [1]:
#models==> relation between input to output
#types of models==>

#1> supervised ML model==> data with column
#2> unsupervised ML model==> data without label(column)

In [2]:
#1> supervised Ml Algorithm==>

In [3]:
#i) LinearRegression==> ehen your data is sort of linear

In [4]:
import  numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\tips.csv")

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
lb=LabelEncoder()

In [10]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['day']=lb.fit_transform(df['day'])
df['time']=lb.fit_transform(df['time'])

In [11]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int32
 3   smoker      244 non-null    int32
 4   day         244 non-null    int32
 5   time        244 non-null    int32
 6   size        244 non-null    int64
dtypes: float64(2), int32(4), int64(1)
memory usage: 9.7 KB

In [13]:
x=df.drop(columns=['total_bill'],axis=1)
y=df['total_bill']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc=StandardScaler()

In [18]:
x_train_new=sc.fit_transform(x_train)
x_test_new=sc.transform(x_test)

In [19]:
from sklearn.linear_model import LinearRegression   #Algorithm

In [20]:
lr=LinearRegression()

In [21]:
lr.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred=lr.predict(x_test_new)

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
from sklearn.metrics import r2_score   #for algorithm's measurment unit

In [24]:
r2_score(y_test,y_pred)

-3.117095236163327

In [25]:
class GDRegressor : 
    
    def __init__(self , learning_rate , epochs):
        self.m = 100   # we can start any number as like m = 0 
        self.b = -120  # we can start any number as like b = 1 
        self.lr = learning_rate 
        self.epochs = epochs 
        
    def fit(self , x,y):
        #Calculate the b using GD 
        for i in range(self.epochs):
            loss_slope_b = -2*np.sum(y - self.m*x.ravel() - self.b)
            loss_slope_m = -2*np.sum((y - self.m*x.ravel() - self.b)*x.ravel())  
            
            self.b = self.b - (self.lr * loss_slope_b)
            self.m = self.m - (self.lr * loss_slope_m) 
        print(self.b , self.m)  
        
    def predict(self , x):
        return self.m * x + self.b

In [26]:
gd=GDRegressor(0.001,100)

In [27]:
gd.fit(x_train,y_train)

AttributeError: 'DataFrame' object has no attribute 'ravel'

In [28]:
df1=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\cars.csv")

In [29]:
df1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC BSII,1992,50000,100000,Petrol,Individual,Manual,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,1995,95000,100000,Petrol,Individual,Manual,Second Owner
2,Mahindra Jeep CL 500 MDI,1996,250000,35000,Diesel,Individual,Manual,Second Owner
3,Mahindra Jeep MM 540,1996,200000,60000,Diesel,Individual,Manual,First Owner
4,Mahindra Jeep CL 500 MDI,1997,150000,120000,Diesel,Individual,Manual,Third Owner

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
lb=LabelEncoder()

In [32]:
df1['fuel']=lb.fit_transform(df1['fuel'])
df1['seller_type']=lb.fit_transform(df1['seller_type'])
df1['transmission']=lb.fit_transform(df1['transmission'])
df1['owner']=lb.fit_transform(df1['owner'])
df1['name']=lb.fit_transform(df1['name'])

In [33]:
df1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,776,1992,50000,100000,4,1,1,1
1,901,1995,95000,100000,4,1,1,2
2,647,1996,250000,35000,1,1,1,2
3,649,1996,200000,60000,1,1,1,0
4,647,1997,150000,120000,1,1,1,4

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   int32
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   int32
 5   seller_type    4340 non-null   int32
 6   transmission   4340 non-null   int32
 7   owner          4340 non-null   int32
dtypes: int32(5), int64(3)
memory usage: 186.6 KB

In [35]:
x=df1.drop(columns=['name'],axis=1)
y=df1['name']

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc=StandardScaler()

In [40]:
x_train_new=sc.fit_transform(x_train)
x_test_new=sc.transform(x_test)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lr=LinearRegression()

In [43]:
lr.fit(x_train,y_train)

LinearRegression()

In [44]:
y_pred=lr.predict(x_test_new)

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(y_test,y_pred)

-12.064116028112622

In [47]:
df2=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\insurance.csv")

In [49]:
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
lb=LabelEncoder()

In [53]:
df2['sex']=lb.fit_transform(df2['sex'])
df2['smoker']=lb.fit_transform(df2['smoker'])
df2['region']=lb.fit_transform(df2['region'])

In [54]:
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(2), int32(3), int64(2)
memory usage: 57.6 KB

In [57]:
x=df2.drop(columns=['charges'],axis=1)
y=df2['charges']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [63]:
from sklearn.preprocessing import StandardScaler

In [64]:
sc=StandardScaler()

In [65]:
x_train_new=sc.fit_transform(x_train)
x_test_new=sc.transform(x_test)

In [66]:
from sklearn.linear_model import LinearRegression

In [67]:
lr=LinearRegression()

In [68]:
lr.fit(x_train,y_train)

LinearRegression()

In [69]:
y_pred=lr.predict(x_test_new)

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [70]:
from sklearn.metrics import r2_score

In [71]:
r2_score(y_test,y_pred)

-4.531868622757857

In [78]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [90]:
ohe=OneHotEncoder(drop='first',sparse=False)
x_train_smoker_region=ohe.fit_transform(x_train[['smoker','region']])

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [91]:
x_train_smoker_region.shape

(1070, 4)