In [1]:
#logistic regression==> target data(categorical or descrete)==> beckend(Activation function='sigmoid')==>

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x=df.drop(columns=['placed'],axis=1)
y=df['placed']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
from  sklearn.preprocessing import StandardScaler

In [9]:
sc=StandardScaler()

In [10]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.transform(x_test)

In [11]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)
x_test_new=pd.DataFrame(x_test_sc,columns=x_test.columns)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
lr=LogisticRegression()

In [14]:
lr.fit(x_train_new,y_train)

LogisticRegression()

In [15]:
y_pred=lr.predict(x_test_new)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_test,y_pred)

1.0

# logistic regression (covid_toy)

In [18]:
df1=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\covid_toy.csv")

In [19]:
df1.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
lb=LabelEncoder()

In [22]:
df1['gender'] = lb.fit_transform(df1['gender'])
df1['cough'] = lb.fit_transform(df1['cough'])
df1['city'] = lb.fit_transform(df1['city'])
df1['has_covid'] = lb.fit_transform(df1['has_covid'])

In [23]:
df1.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [24]:
df1=df1.dropna()

In [25]:
x=df1.drop(columns=['has_covid'],axis=1)
y=df1['has_covid']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
sc=StandardScaler()

In [30]:
x_train_p=sc.fit_transform(x_train)
x_test_p=sc.transform(x_test)

In [31]:
df1

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0     2          0
1    27       1  100.0      0     1          1
2    42       1  101.0      0     1          0
3    31       0   98.0      0     2          0
4    65       0  101.0      0     3          0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0      0     0          0
96   51       0  101.0      1     2          1
97   20       0  101.0      0     0          0
98    5       0   98.0      1     3          0
99   10       0   98.0      1     2          1

[90 rows x 6 columns]

In [32]:
x_train_new = pd.DataFrame(x_train_p , columns = x_train.columns)
x_test_new = pd.DataFrame(x_test_p , columns = x_train.columns)

In [33]:
#x_train_new

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
lr.fit(x_train_new,y_train)

LogisticRegression()

In [36]:
y_pred=lr.predict(x_test_new)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(y_test,y_pred)

0.4444444444444444

# logistic regression(Attrition)

In [39]:
df2=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\Attrition.csv")

In [40]:
df2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
lb=LabelEncoder()

In [44]:
df2['Attrition']=lb.fit_transform(df2['Attrition'])
df2['BusinessTravel']=lb.fit_transform(df2['BusinessTravel'])
df2['Department']=lb.fit_transform(df2['Department'])
df2['EducationField']=lb.fit_transform(df2['EducationField'])
df2['Gender']=lb.fit_transform(df2['Gender'])
df2['JobRole']=lb.fit_transform(df2['JobRole'])
df2['MaritalStatus']=lb.fit_transform(df2['MaritalStatus'])
df2['Over18']=lb.fit_transform(df2['Over18'])
df2['OverTime']=lb.fit_transform(df2['OverTime'])

In [45]:
df2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [46]:
x=df2.drop(columns=['Attrition'],axis=1)
y=df2['Attrition']

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
sc=StandardScaler()

In [51]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.transform(x_test)

In [52]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)
x_test_new=pd.DataFrame(x_test_sc, columns=x_test.columns)

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
lr.fit(x_train_new,y_train)

LogisticRegression()

In [55]:
y_pred=lr.predict(x_test_new)

In [56]:
from sklearn.metrics import accuracy_score     #jab traget column categorical ho to accuracy score use krte hai

In [57]:
accuracy_score(y_test,y_pred)

0.891156462585034

# Desicion Tree Regression

In [ ]:
# Decision Tree ==> 
# (1). Information Gain  (2). Gini Index
# CART (CLASSIFICATION AND REGRESSION TREE)

In [58]:
df3=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\tips.csv")

In [59]:
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
lb=LabelEncoder()

In [62]:
df3['sex']=lb.fit_transform(df3['sex'])
df3['smoker']=lb.fit_transform(df3['smoker'])
df3['day']=lb.fit_transform(df3['day'])
df3['time']=lb.fit_transform(df3['time'])

In [63]:
df3.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [64]:
x=df3.drop(columns=['total_bill'],axis=1)
y=df3['total_bill']

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [67]:
from sklearn.preprocessing import StandardScaler

In [68]:
sc=StandardScaler()

In [69]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.transform(x_test)

In [70]:
x_train_new=pd.DataFrame(x_train_sc,columns= x_train.columns)
x_test_new=pd.DataFrame(x_test_sc,columns= x_test.columns)

In [71]:
from sklearn.tree import DecisionTreeRegressor

In [72]:
dt=DecisionTreeRegressor()

In [73]:
dt.fit(x_train_new,y_train)

DecisionTreeRegressor()

In [74]:
y_pred=dt.predict(x_test_new)

In [75]:
from sklearn.metrics import r2_score     #jb target column numerical ho to r2_score use krte hai

In [76]:
r2_score(y_test,y_pred)

0.38492236307552063

# Dt Regressor(insurance data)

In [77]:
df4=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\insurance.csv")

In [78]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [79]:
df4['sex']=lb.fit_transform(df4['sex'])
df4['smoker']=lb.fit_transform(df4['smoker'])
df4['region']=lb.fit_transform(df4['region'])

In [80]:
df4.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [81]:
x=df4.drop(columns=['charges'],axis=1)
y=df4['charges']

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [84]:
from sklearn.preprocessing import StandardScaler

In [85]:
sc=StandardScaler()

In [86]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.transform(x_test)

In [87]:
x_train_new=pd.DataFrame(x_train_sc,columns= x_train.columns)
x_test_new=pd.DataFrame(x_test_sc,columns= x_test.columns)

In [88]:
from sklearn.tree import DecisionTreeRegressor

In [89]:
dt=DecisionTreeRegressor()

In [90]:
dt.fit(x_train_new,y_train)

DecisionTreeRegressor()

In [91]:
y_pred=dt.predict(x_test_new)

In [92]:
from sklearn.metrics import r2_score

In [93]:
r2_score(y_test,y_pred)

0.7123750217911724