In [1]:
#Random Forest Algorithm==> yeh ek supervised machine learning algorithm h 
#case 1. jab target data numerical ho to random forest regressor use lenge
#case 2. jab target data categorical ho to random forest classifier use lenge

In [2]:
import  numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x=df.drop(columns=['placed'],axis=1)
y=df['placed']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
rf=RandomForestClassifier()

In [11]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [12]:
y_pred=rf.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

1.0

# RandomForest classifier on Attrition Datasets

In [15]:
df1=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\Attrition.csv")

In [16]:
df1.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [17]:
#df1.info()

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
lb=LabelEncoder()

In [20]:
df1['Attrition']=lb.fit_transform(df1['Attrition'])
df1['BusinessTravel'] = lb.fit_transform(df1['BusinessTravel'])
df1['Department'] = lb.fit_transform(df1['Department'])
df1['EducationField'] = lb.fit_transform(df1['EducationField'])
df1['Gender'] = lb.fit_transform(df1['Gender'])
df1['JobRole'] = lb.fit_transform(df1['JobRole'])
df1['MaritalStatus'] = lb.fit_transform(df1['MaritalStatus'])
df1['Over18'] = lb.fit_transform(df1['Over18'])
df1['OverTime'] = lb.fit_transform(df1['OverTime'])

In [21]:
df1.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [22]:
x=df1.drop(columns=['Attrition'],axis=1)
y=df1['Attrition']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf=RandomForestClassifier()

In [27]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [28]:
y_pred=rf.predict(x_test)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_test,y_pred)

0.8741496598639455

# TASk
# 1). Apply RandomForestRegressor on Tips , insurance dataset .

# RandomForest Regressor on Tips DataSet

In [31]:
df2=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\tips.csv")

In [32]:
df2.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
lb=LabelEncoder()

In [35]:
df2['sex']=lb.fit_transform(df2['sex'])
df2['smoker']=lb.fit_transform(df2['smoker'])
df2['day']=lb.fit_transform(df2['day'])
df2['time']=lb.fit_transform(df2['time'])

In [36]:
df2.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [37]:
x=df2.drop(columns=['total_bill'],axis=1)
y=df2['total_bill']

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
rf=RandomForestRegressor()

In [42]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [43]:
y_pred=rf.predict(x_test)

In [44]:
from sklearn.metrics import r2_score

In [45]:
r2_score(y_test,y_pred)

0.4992056008157312

# RandomForest REgressor on Insurance Dataset

In [46]:
df3=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\insurance.csv")

In [47]:
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
lb=LabelEncoder()

In [50]:
df3['sex']=lb.fit_transform(df3['sex'])
df3['smoker']=lb.fit_transform(df3['smoker'])
df3['region']=lb.fit_transform(df3['region'])

In [51]:
df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [52]:
x=df3.drop(columns=['smoker'],axis=1)
y=df3['smoker']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [55]:
from sklearn.ensemble import RandomForestRegressor

In [56]:
rf=RandomForestRegressor()

In [57]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [58]:
y_pred=rf.predict(x_test)

In [59]:
from sklearn.metrics import r2_score

In [60]:
r2_score(y_test,y_pred)

0.877507580477674

# (2). Apply RandomForest Classifier on Covid toy dataset as such that first you have to fill missing values and after then you have to make a pipeline and after that you have to find accuracy of RandomForestClassifier .

In [61]:
df4=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\covid_toy.csv")

In [62]:
df4.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [63]:
df4.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [64]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [65]:
df4['fever']

0     103.0
1     100.0
2     101.0
3      98.0
4     101.0
      ...
95    104.0
96    101.0
97    101.0
98     98.0
99     98.0
Name: fever, Length: 100, dtype: float64

In [66]:
mean_fever = df4['fever'].mean()
df4['fever'].fillna(mean_fever, inplace=True)

In [67]:
df4.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [68]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.compose import ColumnTransformer

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
x_train , x_test , y_train , y_test = train_test_split(df4.drop('has_covid',axis=1), df4['has_covid'], test_size=0.2,random_state=42)

In [71]:
# define the columns 
categorical_features = ['gender', 'city']
numeric_features = ['age', 'fever']

In [72]:
#create transformer
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])


categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [73]:
#Combine Transformers
preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,numeric_features),
        ('cat',categorical_transformer,categorical_features)
    ])

In [74]:
#create the Pipeline
clf=Pipeline(steps=[('preprocessor',preprocessor),
                   ('classifier',RandomForestClassifier())])

In [75]:
#train the model
clf.fit(x_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'fever']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['gender', 'city'])])),
                ('classifier', RandomForestClassifier())])

In [76]:
#Evaluate the model
y_pred=clf.predict(x_test)

In [77]:
y_pred

array(['Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes'],
      dtype=object)

In [78]:
from sklearn.metrics import accuracy_score

In [79]:
accuracy_score(y_test,y_pred)

0.45

# (3). Apply Random Forest classfier on click dataset as such that drop unimportant columns and fill missing values and apply column transformer then find accuracy ?

In [80]:
df5=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\click.csv")

In [81]:
df5.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1

In [82]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  10000 non-null  float64
 1   Age                       10000 non-null  float64
 2   Area Income               10000 non-null  float64
 3   Daily Internet Usage      10000 non-null  float64
 4   Ad Topic Line             10000 non-null  object
 5   City                      10000 non-null  object
 6   Gender                    10000 non-null  object
 7   Country                   10000 non-null  object
 8   Timestamp                 10000 non-null  object
 9   Clicked on Ad             10000 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 781.4+ KB

In [83]:
df5.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Gender                      0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [84]:
df5['Timestamp']=pd.to_datetime(df5['Timestamp'])

In [91]:
df5['month'] =  df5['Timestamp'].dt.month
df5['day'] =  df5['Timestamp'].dt.day_name()
df5['time'] = df5['Timestamp'].dt.time
df5['hour'] = df5['Timestamp'].dt.hour
df5['Miniute'] = df5['Timestamp'].dt.minute
df5['dayofweek'] = df5['Timestamp'].dt.dayofweek

In [93]:
df5.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad,month,day,time,hour,Miniute,dayofweek
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0,6,Thursday,21:43:05,21,43,3
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0,1,Saturday,17:56:05,17,56,5
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0,6,Wednesday,10:50:45,10,50,2
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0,6,Tuesday,14:32:32,14,32,1
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1,7,Thursday,10:54:35,10,54,3

In [95]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  10000 non-null  float64
 1   Age                       10000 non-null  float64
 2   Area Income               10000 non-null  float64
 3   Daily Internet Usage      10000 non-null  float64
 4   Ad Topic Line             10000 non-null  object
 5   City                      10000 non-null  object
 6   Gender                    10000 non-null  object
 7   Country                   10000 non-null  object
 8   Timestamp                 10000 non-null  datetime64[ns]
 9   Clicked on Ad             10000 non-null  int64
 10  month                     10000 non-null  int64
 11  day                       10000 non-null  object
 12  time                      10000 non-null  object
 13  hour                      10000 non-null  int64
 14  Miniute                   10000 non-null  int64
 15  dayofweek                 10000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(6)
memory usage: 1.2+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb=

In [85]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder,OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.compose import ColumnTransformer

In [86]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [87]:
from sklearn.compose import ColumnTransformer

In [88]:
transformer= ColumnTransformer(transformers=[
    ('a',OrdinalEncoder(categories=[['Male','Female']]),['Gender']),
    ('b',OneHotEncoder(sparse=False,drop='first'),['Gender'])
] , remainder='passthrough')

In [89]:
clf = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])

In [90]:
clf.fit(x_train, y_train)

ValueError: A given column is not a column of the dataframe

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf=RandomForestRegressor()

In [ ]:
rf.fit(x_train,y_train)

In [ ]:
y_pred=rf.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
#accuracy_score(y_test,y_pred)