In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\Churn_Modelling.csv")

In [16]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [18]:
x = df.drop(columns = ['Exited'] , axis=1)
y = df['Exited']

In [4]:
#prepreprocess the dataset

x=data.iloc[:,3:-1].values
y=data.iloc[:,-1].values

In [27]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [28]:
lb=LabelEncoder()

In [29]:
data['Geography']=lb.fit_transform(data['Geography'])
data['Gender']=lb.fit_transform(data['Gender'])

In [30]:
x['Geography']=lb.fit_transform(x['Geography'])
x['Gender']=lb.fit_transform(x['Gender'])
x['Surname']=lb.fit_transform(x['Surname'])

In [39]:
x.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int32
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  int64
 5   Gender           10000 non-null  int64
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int32(1), int64(11)
memory usage: 1.0 MB

In [33]:
#train the data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [34]:
#standardize the features
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [35]:
#define the neural network architecture
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64 , activation = 'relu' , input_dim = x_train.shape[1]),  #input layer
    tf.keras.layers.Dense(64 , activation = 'relu'),    #hidden layer 
    tf.keras.layers.Dense(1 , activation = 'sigmoid')   #output layer
])

In [36]:
#Define the loss function and metrics
loss_fn = tf.keras.losses.BinaryCrossentropy() 
metrics = ['accuracy']

In [37]:
#Define the optimizer with momentum
learning_rate = 0.001 
momentum = 0.9 
optimizer = tf.keras.optimizers.SGD(learning_rate = learning_rate , momentum = momentum)

In [38]:
#compile the model
model.compile(optimizer = optimizer , loss = loss_fn , metrics = metrics)

In [41]:
#train the model
epochs=10
batch_size=32
model.fit(x_train,y_train,batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
200/200 [==============================] - 2s 5ms/step - loss: 0.5563 - accuracy: 0.7531 - val_loss: 0.4935 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4907 - accuracy: 0.7934 - val_loss: 0.4715 - val_accuracy: 0.7987
Epoch 3/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4723 - accuracy: 0.7942 - val_loss: 0.4565 - val_accuracy: 0.8025
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4592 - accuracy: 0.7961 - val_loss: 0.4454 - val_accuracy: 0.8081
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4495 - accuracy: 0.8033 - val_loss: 0.4368 - val_accuracy: 0.8131
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4424 - accuracy: 0.8056 - val_loss: 0.4306 - val_accuracy: 0.8156
Epoch 7/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4365 - accuracy: 0.8094 - val_loss: 0.4253 - val_accuracy: 0.8156
Epoch 8/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4317 - accuracy: 0.8116 - val_loss: 0.4210 - val_accuracy: 0.8206
Epoch 9/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4270 - accuracy: 0.8153 - val_loss: 0.4171 - val_accuracy: 0.8269
Epoch 10/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4224 - accuracy: 0.8197 - val_loss: 0.4134 - val_accuracy: 0.8288

In [42]:
#evaluate the model
test_loss,test_acc=model.evaluate(x_test,y_test)
print("Test loss",test_loss)
print("Test Accuracy",test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8255
Test loss 0.4110272228717804
Test Accuracy 0.8255000114440918

# Disadvantage of Momentum

(1). Overshooting:

One potential issue with the Momentum optimizer is overshooting or oscillation. If the learning rate or the momentum coefficient is set too high, the optimizer may overshoot the optimal solution and oscillate around it. This can lead to slower convergence or instability in the optimization process.

(2). Difficulty in Converging in Some Cases:

In certain scenarios, such as optimization problems with noisy or sparse gradients, the Momentum optimizer may face difficulties in converging to the optimal solution. The accumulated gradients from previous iterations can cause the optimizer to overshoot or miss important regions of the loss landscape, making convergence slower or even preventing it altogether.

(3). Sensitivity to Hyperparameters:

The performance of the Momentum optimizer is highly dependent on the choice of hyperparameters, specifically the momentum coefficient and the learning rate. Finding the optimal values for these hyperparameters can be challenging and require careful tuning. Suboptimal choices can result in slow convergence or unstable behavior.

(4). Increased Memory Requirements:

The Momentum optimizer requires additional memory to store and update the velocity or accumulated gradients at each iteration. While this memory overhead may not be significant for small models and datasets, it can become a concern when dealing with large-scale deep learning models or limited computational resources.

(5). Lack of Adaptivity:

Momentum does not adaptively adjust its behavior based on the characteristics of the optimization problem or the current stage of training. It applies a fixed momentum coefficient throughout the training process, which may not be optimal for different stages or regions of the loss landscape. This lack of adaptivity can lead to suboptimal convergence in some cases.