# NLP(natural language processing)

In [1]:
#text Analysis

#social media(whatsapp, facebook, twitter,instagram) ==> top trending

#ecommerce market(maazon, flipkart, nykaa, zomato,swiggy)==> ratings, reviews,recommendition system

In [2]:
#steps

#(1) clean the data(HTML tags remove, remove links, punctuations remove, mixed data clean)
#(2) convert it into number
#(3) model
#(4) train, evaluate

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\IMDB Dataset.csv")

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# Step1 lowercasing

In [7]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [8]:
#if i want to convert all movies review then

df['review']=df['review'].str.lower()

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Step 2 Remove HTML Tags

In [10]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [11]:
text="<html><body><p> Movie1 </p> <p> Click here to <a href='http://google.com'>download</a></p>"

In [12]:
remove_html_tags(text)

' Movie1   Click here to download'

In [13]:
#now we remove tags from IMDB Datasets

df['review']=df['review'].apply(remove_html_tags)

In [14]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step-3 removing urls

In [15]:
#if i want to remove urls from text then

def remove_url(text):
    pattern=re.compile(r'https?://\s+|www\.\s+')
    return pattern.sub(r'',text)

In [16]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text2 = 'Check out my notebook http://www.deture.com/delta/note1234acc'

text3 = 'Google search here www.google.com'

text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [17]:
remove_url(text3)

'Google search here www.google.com'

# step 4 remove punctuation

In [18]:
import string
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
exclude=string.punctuation

In [20]:
def remove_punc(text):
    for char in exclude:
        text=text.repalce(char,'')
    return text

In [21]:
text='string. with.punctuation?'

In [22]:
df1=pd.read_csv("C:\\Users\\pujaj\\Downloads\\twitter_sentiment_analysis.csv")

In [23]:
df1.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [24]:
import string
exclude=string.punctuation

In [25]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [26]:
df1['tweet']=df1['tweet'].apply(remove_punc)

In [27]:
df1

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid Ã°ÂŸÂ˜Â˜ hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# Step5 chatword treatment

In [28]:
chat_words={'u2':'you too','BBL':'be back later','GAL':'get a life'}

In [29]:
chat_words

{'u2': 'you too', 'BBL': 'be back later', 'GAL': 'get a life'}

In [30]:
def chat_conversation(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return "".join(new_text)

In [31]:
chat_conversation('GAL')

'get a life'

# Step-6 spelling correction

In [32]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\pujaj\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\pujaj\anaconda3\lib\site-packages (from TextBlob) (3.8.1)
Requirement already satisfied: click in c:\users\pujaj\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\pujaj\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pujaj\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\pujaj\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (4.65.0)
Requirement already satisfied: colorama in c:\users\pujaj\anaconda3\lib\site-packages (from click->nltk>=3.1->TextBlob) (0.4.6)

In [33]:
from textblob import TextBlob

In [34]:
incorrect_text="ceertain conditions seveal ggenerations aree modified in the saame maner"
textBlb= TextBlob(incorrect_text)
textBlb.correct().string

'certain conditions several generations are modified in the same manner'

# Step-7 removing stopwords

In [35]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [36]:
STOPWORDS=set(stopwords.words('english'))

In [37]:
#STOPWORDS

In [38]:
#manually work
def remove_stopwords(text):
    new_text=[]
    
    for word in text.split():
        
        if word in set(stopwords.words('english')):
            new_text.append('')
            
        else:
            new_text.append(word)
            
    x=new_text[:]
    new_text.clear()
    return"".join(x)

remove_stopwords('probably my all-time favorite movie, a story of selflessness, sacrifies and  dedication to a nobel cause')

'probablyall-timefavoritemovie,storyselflessness,sacrifiesdedicationnobelcause'

# tokenization

In [39]:
#1. prefix- character(s) at the begining=$(".)

#2. suffix- character(s) at the end=km.!"

#3. infix- characters(s) in between= --\....

#4. exception- special case rule to split a string into several tokens

In [40]:
# Approach the tokenization  using the split function

# 1. word tokenization 

sent1="I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [41]:
#sentencce tokenization

sent2="I am going to delhi. i will stay there for 3 days. let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi',
 ' i will stay there for 3 days',
 " let's hope the trip to be great"]

In [42]:
#problems with split function

sent3= "I am going to delhi"
sent3.split()

['I', 'am', 'going', 'to', 'delhi']

# 1. NLTK(NAtural Language Tool Kit)

In [43]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [44]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [45]:
sent1="I am going to visit delhi!"
word_tokenize(sent1)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\pujaj/nltk_data'
    - 'C:\\Users\\pujaj\\anaconda3\\nltk_data'
    - 'C:\\Users\\pujaj\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\pujaj\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\pujaj\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************