In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\nykaa.csv")

In [3]:
df.head()

                                             content sentiment_labels
0                                  Nice shopping app         POSITIVE
1  Nykaa you yuyz are not giving my reward points...         NEGATIVE
2                                            Love it         POSITIVE
3                                  Is cod available?         NEGATIVE
4                                        Its awesome         POSITIVE

In [4]:
df['content'] = df['content'].str.lower()
df['sentiment_labels'] = df['sentiment_labels'].str.lower()

In [5]:
df

                                                  content sentiment_labels
0                                       nice shopping app         positive
1       nykaa you yuyz are not giving my reward points...         negative
2                                                 love it         positive
3                                       is cod available?         negative
4                                             its awesome         positive
...                                                   ...              ...
155539                                               good         positive
155540  nykaa is the best online store for the purchas...         positive
155541                                      very nice app          neutral
155542                                               good         positive
155543                                         love nykaa         positive

[155544 rows x 2 columns]

In [6]:
# Get all punctuation characters
import string
exclude = set(string.punctuation)

def remove_pun(text):
    if pd.notna(text):  # Check if text is not NaN
        for char in exclude:
            text = text.replace(char, '')
    return text

# Apply the remove_pun function to the 'content' column
df['content'] = df['content'].apply(remove_pun)

In [7]:
df.head()

                                             content sentiment_labels
0                                  nice shopping app         positive
1  nykaa you yuyz are not giving my reward points...         negative
2                                            love it         positive
3                                   is cod available         negative
4                                        its awesome         positive

In [8]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

In [9]:
STOPWORDS=set(stopwords.words('english'))

In [10]:
# Assuming STOPWORDS is defined as you provided

def remove_stopwords(text):
    if pd.notna(text):  # Check if text is not NaN
        new_text = []
        for word in text.split():
            if word.lower() not in STOPWORDS:
                new_text.append(word)

        return " ".join(new_text)
    else:
        return text

# Assuming df is your DataFrame
df['content'] = df['content'].apply(remove_stopwords)

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sentiments = SentimentIntensityAnalyzer()

In [12]:
sentiments = SentimentIntensityAnalyzer()

In [13]:
df["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in df["sentiment_labels"]]
df["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in df["sentiment_labels"]]
df["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in df["sentiment_labels"]]
print(df.head())

                                             content sentiment_labels  \
0                                  nice shopping app         positive
1  nykaa yuyz giving reward points referring pers...         negative
2                                               love         positive
3                                      cod available         negative
4                                            awesome         positive

   Positive  Negative  Neutral
0       1.0       0.0      0.0
1       0.0       1.0      0.0
2       1.0       0.0      0.0
3       0.0       1.0      0.0
4       1.0       0.0      0.0

In [14]:
x = sum(df["Positive"])
y = sum(df["Negative"])
z = sum(df["Neutral"])

def sentiment_score(a,b,c):
    if(a>b) and (a>c):
        print("PositiveðŸ¤©")
    elif (b>a) and (b>c):
        print("NegativeðŸ˜’")
    else :
        print("NeutralðŸ™‚")
sentiment_score(x,y,z)

PositiveðŸ¤©

In [15]:
print("Positive:", x)
print("Negative:", y)
print("Neutral:", z)

Positive: 110458.0
Negative: 13810.0
Neutral: 31276.0