## column transformer

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\pujaj\\Downloads\\ML Data\\covid_toy.csv")

In [3]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer   #for fill missing values

from sklearn.preprocessing import OneHotEncoder   #category==> sub-category==> column creation
from sklearn.preprocessing import OrdinalEncoder   #sub-category==> convert==> into numbers

In [9]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [12]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Manually type output

In [13]:
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])
x_test_fever=si.fit_transform(x_test[['fever']])

In [14]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [15]:
x_train_fever.shape

(80, 1)

# step-2

In [16]:
#ordinal encoding==> cough

In [18]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])

x_train_cough=oe.fit_transform(x_train[['cough']])

In [19]:
x_train.head()

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata
26   19  Female  100.0  Mild  Kolkata
42   27    Male  100.0  Mild    Delhi
69   73  Female  103.0  Mild    Delhi

In [20]:
x_train_cough.shape

(80, 1)

# step-3 OneHotEncoding ==> Gender,city

In [21]:
ohe=OneHotEncoder(drop='first',sparse=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [23]:
x_train_gender_city.shape

(80, 4)

# step-4 (Extracting age)

In [24]:
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

In [25]:
x_train_age.shape

(80, 1)

# step-5(concatenate all the data)

In [26]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [29]:
x_train_transformed.shape

(80, 7)

# we can do this in one cell using column transformer

In [31]:
from sklearn.compose import ColumnTransformer

In [33]:
transformer= ColumnTransformer(transformers=[
    ('a',SimpleImputer(),['fever']),  #simpleimputer fill your missing values
    ('b',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('c',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
] , remainder='passthrough')  #remainder='passthrough==>means rest all are columns remain constant'

In [34]:
transformer.fit_transform(x_train).shape

C:\Users\pujaj\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)